@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar (optional) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ef4444;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #dc2626;
}

html, body {
  @apply bg-gradient-to-b from-zinc-950 via-zinc-900 to-black text-zinc-100 antialiased;
}
